.dialogueContainer {
	position: relative;
	height: 150px;
}

.facePortrait {
	position: relative;
	float: left;
	width: 150px;
	height: 150px;
}

.facePortraitFrame {
	position: absolute;
	width:150px;
	height:150px;
	z-index:2;
}

.facePortraitImg {
	position: absolute;
	width:125px;
	height:125px;
	left: 12px;
	top: 12px;
	z-index:1;
}

.speakerName {	
	padding: 5px 20px;
	display: block;	
	font-family: "Garamond", "Georgia", "serif";
	font-size: 24px;
}

.speakerMessage {
	padding: 0px 20px;
	display: block;	
	font-family: "serif";
	font-size: 16px;
}