.dialogueContainer {
	position: relative;
	clear: both;
	height: auto;
}

.facePortrait {
	position: relative;
	float: left;
	width: 150px;
	height: 150px;
}

.facePortraitFrame {
	position: absolute;
	width:150px;
	height:150px;
	z-index:2;
}

.facePortraitImg {
	position: absolute;
	width:125px;
	height:125px;
	left: 12px;
	top: 12px;
	z-index:1;
}

.speakerName {	
	padding: 5px 20px;
	display: block;	
	font-family: "Garamond", "Georgia", "serif";
	font-size: 24px;
}

.speakerMessage {
	padding: 0px 20px;
	display: block;	
	width: 460px;
	font-family: "serif";
	font-size: 16px;
}

.deityDialogueContainer {
	position: relative;
	text-align: center;
	height: auto;
	width:100%;
}

.deityPortrait {
	position: relative;
	margin:auto;
	text-align: center;
	width:348px;
	height: 150px;
}

.deityPortraitFrame {
	position: absolute;
	left: 0px;	
	z-index:5;
}

.deityPortraitImgBack {
	position: absolute;	
	top: 28px;
	left: 7px;	
	width: 335px;
	height: 87px;	
	z-index:3;
}

.deityPortraitImg {
	position: absolute;
	top: 28px;
	left: 130px;	
	margin: auto;
	width: 88px;
	height: 88px;	
	overflow: hidden;
	z-index:4;
}

.deityMessage {
	position: absolute;
	text-align: center;
	width:100%;
}